.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    position: relative;
    margin-bottom: 64px;
    margin-top: 64px;
    z-index: 1;
}

.slider-content {
    display: flex;
    transition: transform 1s ease-in-out;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.slide-box {
    flex: 0 0 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-mobile {
    display: none;
}

.nav-manual,
.nav-auto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10px;
    z-index: 1;
}

.nav-manual .manual-btn,
.nav-auto div {
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #ff0054;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.arrow.prev {
    left: 10px;
}

.arrow.next {
    right: 10px;
}

.indicators {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.indicator {
    border: 1px solid #ff0054;
    border-radius: 50%;
    background-color: white;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #ff0054;
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .nav-auto,
    .nav-manual {
        bottom: 60px;
    }

    .arrow {
        display: block;
    }

    .indicators {
        bottom: 20px;
    }
}
